@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Teko:wght@300..700&display=swap');
@import url('./_reset.css');
@import url('./_variables.css');
@import url('./_typography.css');
@import url('./_buttons.css');

:root {
	font-size: 112.5%; /* 18px */
	font-family: 'Rajdhani', sans-serif;
}

body {
	padding-inline: 1ch;
	max-width: 105ch;
	margin-inline: auto;
	font-size: 1rem;
}
